POSTGRES_URL="postgres://postgres.anrsdykzvuztsolyzkbf:L4IdHrYUznuVVyaW@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_USER="postgres"
POSTGRES_HOST="db.anrsdykzvuztsolyzkbf.supabase.co"
SUPABASE_JWT_SECRET="/ZPAxx3cDZXaoY1q1P2nvGhg3yYMpOXa3EEoRhpqJa5u0V19CwX7N5JnfPDB6wrObYouG2fS2aqqEXi9/qkSVw=="
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFucnNkeWt6dnV6dHNvbHl6a2JmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE5MjQwNTYsImV4cCI6MjA3NzUwMDA1Nn0.5rNj5MMN37hehIOwsvEZ6pTgehi_vkci3Dcm1GLwnzw"
POSTGRES_PRISMA_URL="postgres://postgres.anrsdykzvuztsolyzkbf:L4IdHrYUznuVVyaW@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
POSTGRES_PASSWORD="L4IdHrYUznuVVyaW"
POSTGRES_DATABASE="postgres"
SUPABASE_URL="https://anrsdykzvuztsolyzkbf.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFucnNkeWt6dnV6dHNvbHl6a2JmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE5MjQwNTYsImV4cCI6MjA3NzUwMDA1Nn0.5rNj5MMN37hehIOwsvEZ6pTgehi_vkci3Dcm1GLwnzw"
NEXT_PUBLIC_SUPABASE_URL="https://anrsdykzvuztsolyzkbf.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFucnNkeWt6dnV6dHNvbHl6a2JmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTkyNDA1NiwiZXhwIjoyMDc3NTAwMDU2fQ.kXH_SRL6GNWXg2pz5bS7L4bNOypW0ZpJrJKXl18CGUc"
POSTGRES_URL_NON_POOLING="postgres://postgres.anrsdykzvuztsolyzkbf:L4IdHrYUznuVVyaW@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?sslmode=require"

JWT_SECRET = "rahasia"